footer{
    position: fixed;
    /* padding: 10px 10px 0px 10px; */
    bottom: 0;
    width: 99%;
    /* Height of the footer*/ 
    height: 60px;
}
.footer-section{
    background: rgb(71,190,255);
    background: linear-gradient(90deg, rgba(71,190,255,1) 0%, rgba(193,238,255,1) 48%, rgba(102,228,186,1) 100%);
    
    text-align: center;
    margin-top: 8px;
    /* margin-bottom: -8px; */
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid lightblue;
    
}
.footer-text{
    padding-bottom: 27px;
}