.overall-wraper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.review{
    display: flex;
    justify-content: center;
}
.review-wraper{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 6px solid #AAEBEE;
    border-radius: 12px;
    background: #73E5C4;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.revTextarea{
    background-color: #4BBFFF;
    border-radius: 6px;
}
.img-wraper{
    width: 150px;
    border-radius: 12px;
}
.img-wraper img{
    width: 100%;
    border-radius: 12px;
}
.revPostBtn{
    margin: 8px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #BCECFF;
    border-radius: 8px;
   font-size: 16px;
   background: #BCECFF; 
}
.revPostBtn:hover{
    background: #4BBFFF;
    cursor: pointer; 
}
.each-rev-wraper{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 6px solid #AAEBEE;
    border-radius: 12px;
    background: #73E5C4;
    margin: 10px;      
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    
    
}
.overall-each-rev-wraper{
    display: flex;
    
    flex-direction: column;    
    margin-bottom: 54px;
    margin-top: 50px;
    align-items: center
}
.rev-header{
    text-align: center;
}
.header-for-each-rev{
    margin: 5px;
}
.task{
    margin: 4px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #4BBFFF;    
    border-radius: 6px;
    width: fit-content;
    align-self: center;
}
.delete-btn{
    margin-right: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-size: 15px;
    background-color: red;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: bold;
    /* width: 40%; */
}
.delete-btn:hover{
    background-color: darkred;
    font-weight: bolder;
    cursor: pointer;
}
.img-wraper-each-rev img{
    width: 100px;
    border-radius: 12px;
}
.outputs-rev{
     display: flex;
     flex-direction: column;
}
.textarea-task{
    background-color: #BCECFF;
    border: 4px solid #BCECFF;
    border-radius: 6px;
    outline: #73E5C4;
    resize: none;
    margin-top: 8px;
    margin-bottom: 8px;   
    
}
.tareaheight{
    height: 50px;
}
.tarearevheight{
    height: 40px;
}
.like-dislike-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
}
.like-p{
    margin-right: 10px;
    color: #4BBFFF;
    font-size: 20px;
}
.dislike-p{
    margin-left: 10px;
    margin-right: 10px;
    color: red;
    font-size: 20px;
}
.like-p:hover{
    cursor: pointer;   
    color: blue;
}
.dislike-p:hover{
    cursor: pointer;   
    color: darkred;
}
.like-num{
    align-self: center;
    color: blue;
}
.dislike-num{
    align-self: center;
    color: darkred;
}


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:white;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #4BBFFF;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #4BBFFF;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #4BBFFF;
}
.cheked{
    color: #4BBFFF;
}


.rated {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rated:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rated:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;    
    font-size:30px;
    color:#4BBFFF;
}
.rated:not(:checked) > label:before {
    content: '★ ';
}



