<!-- <article class="img-wraper">
    <img src="https://static01.nyt.com/images/2019/11/29/business/29onlinereviews-digital/29onlinereviews-superJumbo.jpg">
</article>    -->
<h1 class="rev-header">Share what you think about our application</h1>
<form #form="ngForm" (ngSubmit)="Rate(form)" class="form">
    <!-- <h1 class="success-msg" id="success-msg" style="display: block;">Successfully added. thank you for your feedback</h1> -->
    <section class="overall-wraper">
        <main class="review-wraper">
            <h2 id="review-title">Write a review</h2>
            <section class="form-rev">
                <label for="postStarRev"></label>
                <!-- <div class="rate" type="text" id="postStarRev" #textInput="ngModel" ngModel 
                [(ngModel)]="rate.starRev" name="postStarRev"> -->
                <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" [(ngModel)]="rate.starRev" name="postStarRev">
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" [(ngModel)]="rate.starRev" name="postStarRev">
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" [(ngModel)]="rate.starRev" name="postStarRev">
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" [(ngModel)]="rate.starRev" name="postStarRev">
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" [(ngModel)]="rate.starRev" name="postStarRev">
                <label for="star1" title="text">1 star</label>                 
                </div>
            </section>
            <section class="form-rev">
                <label for="postRev"></label>
                <textarea class="textarea-task tareaheight" placeholder="Leave a review here..." type="text" id="postRev" #textInput="ngModel" ngModel required rev [maxlength]="100"
                    [(ngModel)]="rate.rating" name="postRev">
                </textarea>
            </section>
            <p class="add-btn-alert" style="display: none;" id="add-validator">Field is required</p>
            <button class="revPostBtn">Post</button>
        </main>
    </section>
</form>



<section class="overall-each-rev-wraper">
    <div class="ordered-list" *ngFor="let rate of ratings" class="main-h border-style">  
        
        
        <section >
            <section class="each-rev-wraper">
                <!-- <article class="img-wraper-each-rev">
                    <img src="https://assets-global.website-files.com/5eff9c5e4dba181f8aa2d1e0/5f3153d9f273cfb9c9a1921c_5-star-rating.jpeg">
                </article> -->
                <h2 class="header-for-each-rev">Review</h2>
                <!-- <div *ngFor="let star of rate.starRev">
                    <p>nostar: {{star}}</p>
                </div> -->
                <div *ngIf="rate.starRev==5">               
                    <div class="rated">                    
                        <label class="cheked" title="text" ></label>
                        <label title="text"></label>
                        <label title="text"></label>
                        <label title="text"></label>
                        <label title="text"></label>                    
                    </div>                
                </div>
                <div *ngIf="rate.starRev==4">               
                    <div class="rated">                    
                        <label class="cheked" title="text" ></label>
                        <label title="text"></label>
                        <label title="text"></label>
                        <label title="text"></label>                                                                  
                    </div>                
                </div>
                <div *ngIf="rate.starRev==3">               
                    <div class="rated">                    
                        <label class="cheked" title="text" ></label>
                        <label title="text"></label>
                        <label title="text"></label>                                                                                           
                    </div>                
                </div>
                <div *ngIf="rate.starRev==2">               
                    <div class="rated">                    
                        <label class="cheked" title="text" ></label>
                        <label title="text"></label>                                                                                                                
                    </div>                
                </div>
                <div *ngIf="rate.starRev==1">               
                    <div class="rated">                    
                        <label class="cheked" title="text" ></label>                                                                                                                           
                    </div>                
                </div>
            <section class="outputs-rev">
                <h3 class="task">{{rate.nameOfCreator}}</h3>
                <textarea class="textarea-task tarearevheight" >{{rate.rating}}</textarea>
            </section>
            <!-- <section class="like-dislike-section">
                
                <button class="like-btn" (click)="like($event)" >Like</button>                
                <p class="like-p"><i class="fas fa-thumbs-up"></i><p>
                <p class="like-num">{{rate.likes}}</p>
                <button class="dislike-btn" (click)="dislike($event)" >Dislike</button>
                <p class="dislike-p"><i class="fas fa-thumbs-down"></i><p>
                <p class="dislike-num">{{rate.dislikes}}</p>                
                <p style="display: none;" id="rate-key">{{rate.key}}</p>
            </section> -->
            <!-- <section class="like-dislike-section"> -->
                
                <!-- <button class="like-btn" (click)="like($event)" >Like</button>                 -->
                <!-- <p class="like-p"><i class="fas fa-thumbs-up"></i><p>
                <p class="like-num">{{rate.likes}}</p> -->
                <!-- <button class="dislike-btn" (click)="dislike($event)" >Dislike</button> -->
                <!-- <p class="dislike-p"><i class="fas fa-thumbs-down"></i><p>
                <p class="dislike-num">{{rate.dislikes}}</p>                
                <p style="display: none;" id="rate-key">{{rate.key}}</p>
            </section>                   -->
            <div *ngIf="rate.userPushKey == useruid">
                <p style="display: none;" id="userPKey">{{rate.userPushKey}}</p>
                <p style="display: none;" id="rate-key">{{rate.key}}</p>
                <button id="btn-to-disable" class="delete-btn" (click)="deleteRev($event)">Delete</button>
            </div>
        </section>
    </section>
    </div>
</section>
<router-outlet></router-outlet>