
.landing-screen{
    background-color: #C1EEFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 95px;
}

.landing-pic{
    background: fixed;
    height: 45%;
    margin-bottom: 0px;
}
.footer-section{
    position: relative;
    top: 250px;
}